body {
    font-family: "Trebuchet MS";
}

.heading {
    width: 100%;
    box-shadow: 5px 5px 5px green;
}

#title {
    font-size: 30px;
    font-weight: bold;
}

#note {
    font-size: 20px;
}

#size_label {
    font-size: 25px;
    font-weight: 600;
}

.copy_right_footer {
    position: fixed;  
    bottom: 0;
    padding: 5px;
    background-color: rgb(106, 172, 67);
    width: 100%;
    font-weight:bold;
    color: white;
    letter-spacing: 2px;
}

canvas {
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    border-color: rgb(106, 172, 67);
    box-shadow: 5px 5px 5px green;
}